*{
    transition: 0.2s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    outline: none;   -webkit-tap-highlight-color:rgba(0,0,0,0);
}

html {
	scroll-behavior: smooth;
}

body {
    margin:0;padding: 0;
}
